<div class="row">
	<div class="col-md-8">
		<button class="btn btn-primary" data-toggle="modal" data-target="#modalPessoa"><span class="glyphicon glyphicon-plus"></span>Upload New Song</button>
	</div>
	<div class="col-md-4">
		<input class="form-control" placeholder="Search" ng-model="pesquisar">
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped" ng-init="listaPessoas()">
			<thead>
				<th>#</th>
				<th>Title</th>
				<th>Artist</th>
				<th>Genre</th>
				<!-- <th>Nascimento</th> -->
				<th></th>
			</thead>
			<tbody>
				<!-- Listagem -->
				<tr dir-paginate="pessoa in pessoas|filter:pesquisar|itemsPerPage:8">
					<td>{{music.id}}</td>
					<td>{{music.title}}</td>
					<td>{{music.genre}}</td>
					<!-- <td>{{pessoa.nascimento}}</td> -->
					<td>
						<button class="btn btn-info btn-xs" ng-click="editar(pessoa)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
						<button class="btn btn-danger btn-xs" ng-click="excluir(pessoa)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Paginação -->
<div class="row">
	<div class="col-md-12 text-center">
		<dir-pagination-controls>
	    </dir-pagination-controls>
	</div>
</div>

<!-- Modal Cadastro e Edição -->
<div class="modal fade" id="modalPessoa" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel">Music</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label>Title</label>
						<input name="title" class="form-control" type="text" ng-model="pessoa.nome">
					</div>
					<div class="col-md-6">
						<label>Artist</label>
						<input name="artist" class="form-control" type="text" ng-model="pessoa.email">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Genre</label>
						<input name="genre" class="form-control" type="text" ng-model="pessoa.nascimento">
					</div>
					<div class="col-md-6">
						<input type="file" accept="audio/*">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button name="cancel" id="cancel" type="button" class="btn btn-default" ng-click="pessoa = {}" data-dismiss="modal">Cancel</button>
				<button name="save" id="save" type="button" class="btn btn-primary" onclick="salvar()">Save</button>
			</div>
		</div>
	</div>
</div>

<script>
	var context = new AudioContext();
	var source = null;
	var audioBuffer = null;
	// Converts an ArrayBuffer to base64, by converting to string 
	// and then using window.btoa' to base64. 
	var bufferToBase64 = function (buffer) {
		var bytes = new Uint8Array(buffer);
		var len = buffer.byteLength;
		var binary = "";
		for (var i = 0; i < len; i++) {
			binary += String.fromCharCode(bytes[i]);
		}
		return window.btoa(binary);
	};
	var base64ToBuffer = function (buffer) {
		var binary = window.atob(buffer);
		var buffer = new ArrayBuffer(binary.length);
		var bytes = new Uint8Array(buffer);
		for (var i = 0; i < buffer.byteLength; i++) {
			bytes[i] = binary.charCodeAt(i) & 0xFF;
		}
		return buffer;
	};
	function stopSound() {
		if (source) {
			source.stop(0);
		}
	}
	function playSound() {
		// source is global so we can call .stop() later.
		source = context.createBufferSource();
		source.buffer = audioBuffer;
		source.loop = false;
		source.connect(context.destination);
		source.start(0); // Play immediately.
	}
	function initSound(arrayBuffer) {
		var base64String = bufferToBase64(arrayBuffer);
		var audioFromString = base64ToBuffer(base64String);
		alert(base64String);
		context.decodeAudioData(audioFromString, function (buffer) {
			// audioBuffer is global to reuse the decoded audio later.
			audioBuffer = buffer;
			var buttons = document.querySelectorAll('button');
			buttons[0].disabled = false;
			buttons[1].disabled = false;
		}, function (e) {
			console.log('Error decoding file', e);
		});
	}
	// User selects file, read it as an ArrayBuffer and pass to the API.
	var fileInput = document.querySelector('input[type="file"]');
	fileInput.addEventListener('change', function (e) {
		var reader = new FileReader();
		reader.onload = function (e) {
			initSound(this.result);
		};
		reader.readAsArrayBuffer(this.files[0]);
	}, false);
	// Load file from a URL as an ArrayBuffer.
	// Example: loading via xhr2: loadSoundFile('sounds/test.mp3');
	function loadSoundFile(url) {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.responseType = 'arraybuffer';
		xhr.onload = function (e) {
			initSound(this.response); // this.response is an ArrayBuffer.
		};
		xhr.send();
	}

	function salvar(){
		alert(base64String);
	}
	</script>